dag {
    enabled = true
    file = 'network_calc.png'
    overwrite = true
}

report {
    enabled = true
    overwrite = true
}

trace {
    enabled = true
    fields = 'task_id,process,name,status,exit,cpus,time,disk,memory,attempt,submit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
}

cache {
  enabled = true
}

profiles {

    desktop {
        process.executor = 'local'
        process.memory = '1 GB'
    }

    cluster {
        process.executor = 'slurm'
        process.cpus = 8
        process.errorStrategy = 'retry'
        process.maxRetries = 5
        process.time = '8h'

        withName: random_idgen {
            memory = '100 MB'
        }

        withName: panacea_network_calc {
            memory = '16 GB'
        }
    }
}